.app-container {
  display: flex; 
  justify-content: space-between;
  padding: 20px;
  background-image: url('../icons/bg.png'); 
  background-size: cover; 
  background-position: center; 
}

.card-container{
  padding-left: 100px;
  margin-right: 10px;
  overflow: hidden;
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad-container {
  flex: 0 0 auto; /* Prevent the ad container from growing */
  width: 800px; /* Set width of the ad container */
  height: 600px;;
}

